 /***********************************************************\
|  GENERAL STYLE SHEET                                        |
| For learning how to update the colors and tags of my HTML   |
| pages.                                                      |
 \***********************************************************/
 
 /********************* Colour reference chart****************
  ************************* comment ******** colour ******** 

box background colour       bbg              #567890
box border colour           bb               #abcdef
box text colour             bt               #123456
 
 /*  Color scheme to match vscode dark mode
 turquoise #40c9ab
 black #1e1e1e
 off orange #c3602c
 yellow #f1cb10
 magenta #b663a1

 */
 
/*********************** GENERICS **********************/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


p,
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
}

.block,
li {
  border: 2px solid blue;
  padding: .5em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}

/*********************** SIDE BAR STYLE **********************/

.sidebar-left {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 40px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #28242c; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;
  display: grid;
  grid-template-areas: 'icon-containers icon-elements';
}

/*********************** ICON IMAGES ***********************/

/* iconContainer class for spacing icons */
.icon-containers {
  grid-area: icon-containers;
  position: center;
  height: fit-content;
  background-color: #28242c;
  border: none;
  color: #28242c;
}

/* The navigation menu links */
.icon-container {
  fill: #818181;
  background-color: #28242c;
  display: block;
  border: none;
}

/* iconContainer larger hover range */
.icon-container :hover {
  fill: #f1f1f1;
}

.icon-current {
  fill: #f1f1f1;
}

/* Grey out main elements when sidebar is opened */
.overlayed {
  background-color: rgba(0,0,0,0.5);
}

// Holds info from selected icon-container
.icon-elements {
  grid-area: icon-elements;
}

.icon-element {
  object-position: center;
}

.icon-element-visible {
  color: yellow
}

.icon-element-invisible {
  color: #28242c
}
/***********************************************************/

/* Style page content */
.main {
  margin-left: 40px; /* Same as the width of the sidebar */
  transition: margin-left .5s; /* If you want a transition effect */
  color: #000000;
}
 
